.cm-pop-pop-up{
    display:none;
}
.cm-pop-bg{
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    background-color: black;
    z-index: 1000;
    opacity:0.9; 
}
.cm-pop-box{
    display:block;
    width:500px;
    height:auto;
    background-color: white;
    position:fixed;
    z-index:1002;
}
.cm-pop-box-wrap{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    z-index:1001;
}
.cm-pop-bg-img{
    width:100%;

}
.cm-pop-text{
    position:absolute;
    z-index:1002;
    color:white;
    top:0;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size:40px;
    text-align:center;
    padding:20px;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.cm-pop-buttons{
    position:absolute;
    z-index:1003;
    bottom:0;
    padding-bottom:10px;
    width:100%;
    display:flex;
    justify-content: center;
}
.cm-pop-close{
    position:absolute;
    top:5px;
    right:5px;
    color:white;
    z-index:1004;
    display:block;
    cursor: pointer;
}
.cm-pop-btn-wrap{
    display:block;
}

@media only screen and (max-width:500px){
    .cm-pop-box{
        width:100%;
    }
    .cm-pop-text{
        font-size:25px;
    }
}
